---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<!-- seperate -->
{% assign under_preparation = site.publications | where: 'status', 'under preparation' %}
{% assign under_revision = site.publications | where: 'status', 'under revision' %}


<!-- year -->
{% assign other_publications = site.publications | where: 'status', null %}
{% assign other_publications_by_year = other_publications | group_by: 'year' | sort: 'name' | reverse %}

{% for year in other_publications_by_year %}
  <h2>{{ year.name }}</h2><hr />
  <ul>
  {% for post in year.items %}
    <li>{{ post.authors | replace: 'Q. Liu', '<strong>Q. Liu</strong>' }}. "{{ post.title }}," {{ post.journal }} {{ post.conference }} {{ post.year }}. 
    {% if post.highlight %}
      <em><span style="color:#FF0000; font-weight:bold; font-size:smaller;">{{ post.highlight }}</span></em>
    {% endif %}
    {% if post.pdf %}
      [<a href="{{ post.pdf }}" target="_blank">pdf</a>]
    {% endif %} 
    </li>
  {% endfor %}
  </ul>
{% endfor %}

