---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<!-- under revision-->
{% assign unpublished = site.publications | where: 'status', 'under revision' | concat: site.publications | where: 'status', 'under submission' %}

<!-- if under revision, show them first-->
{% if unpublished.size > 0 %}
  <h2>Under Submission / Under Revision</h2><hr />
  {% for post in unpublished %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<!-- according to years-->
{% assign publications_by_year = site.publications | where_exp: "item", "item.status != 'under revision' and item.status != 'under submission'" | group_by: 'year' | sort: 'name' | reverse %}

{% for year in publications_by_year %}
  <h2>{{ year.name }}</h2><hr />
  {% for post in year.items %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}

