---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- Teaching experiences sorted by academic year -->
{% assign sorted_courses = site.teaching | sort: 'academic_year' | reverse %}

{% assign years = sorted_courses | map: 'academic_year' | uniq %}
{% for year in years %}
  <h2 style="font-size: 1.5rem;font-weight: normal; margin-top: 2rem;">{{ year }}</h2>
  <ul style="margin-bottom: 1rem;">
    {% for course in sorted_courses %}
      {% if course.academic_year == year %}
        <li>
          {{ course.title }}, <span style="font-size: smaller; color: gray;"> Location: Room {{ course.room }}, {{ course.location }}</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}

