---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- Teaching experiences sorted by academic year -->
{% assign sorted_courses = site.teaching | sort: 'academic_year' | reverse %}

{% assign years = sorted_courses | map: 'academic_year' | uniq %}
{% for year in years %}
  <h2 style="font-size: 1.5rem;font-weight: normal; margin-top: 2rem;">{{ year }}</h2>
  <ul style="margin-bottom: 1rem;">
    {% for course in sorted_courses %}
      {% if course.academic_year == year %}
        <li>
           <a href="{{ course.url }}" style="color: black; text-decoration: underline;">{{ course.title }}</a>, <span style="font-size: smaller; color: gray;"> <i class="fas fa-map-marker-alt" style="margin-right: 0.3rem;"></i> Room {{ course.room }}, {{ course.location }}
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}

