---
layout: archive
permalink: /year-archive/
title: "Topics"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% assign post_counter = 0 %}
{% for post in site.posts %}
  <!-- 增加计数器以生成序列号 -->
  {% assign post_counter = post_counter | plus: 1 %}

  <!-- 显示带序列号的标题和更新时间 -->
  <div class="post-item">
    <h3>
      {{ post_counter }}. 
      <a href="{{ post.url }}" style="color: #00008B; text-decoration: underline;">
        {{ post.title }}
      </a>
    </h3>
    <p><em>Mis à jour : {{ post.date | date: "%B %d, %Y" }}</em></p>
  </div>
{% endfor %}
